.modalBackground{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.videoContainer{
    position: absolute;
    left: 0;
    top: 4.5rem;
    box-sizing: border-box; /* box-sizing 是将盒子设置为 IE 盒子 */
}